:root {
    --main-bg-color: #C6E2FF;
}

html {
    color: var(--main-bg-color);
    background-color: var(--main-bg-color);
    transition: background-color 600ms ease;
    transition: color 600ms ease;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-box {
    background-color: white;
    margin: 0 auto 0;
    padding: 60px;
    max-width: 600px;
    min-height: 200px;
    height: auto;
}

.quote-text {
    text-align: center;
    font-size: 40px;
}

.quote-author {
    font-weight: 300;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

#new-quote {
    color: var(--main-bg-color);
    border: none;
    background-color: white;
    padding: 12px 11px;
    position: absolute;
    right: 48%;
    bottom: calc(50% - 353px);
}

#tweet-quote {
    color: var(--main-bg-color);
    font-size: 16px;
}

#tweet-quote:hover {
    color: var(--main-bg-color);
    cursor: pointer;
}

#tweet-quote:active {
    color: var(--main-bg-color);
}

@media only screen and (max-width: 801px) {

    #quote-box {
        margin: 30px;
    }

    .quote-text {
        font-size: 30px;
    }

    .quote-author {

        font-size: 16px;
    }

    #new-quote {
        right: 42%;
    }
}

@media only screen and (max-width: 600px) {

    #quote-box {
        margin: 10px;
    }

    .quote-text {
        font-size: 20px;
    }

    .quote-author {

        font-size: 14px;
    }

    #new-quote {
        right: 31%;
    }
}